<div class="container mt-3">
  <h4 class="fw-light text-center">KOSÁR TARTALMA</h4>
  <hr class="mx-auto w-75" />
  <div
    class="container mx-auto text-center mt-3"
    *ngIf="cart.products.length === 0"
  >
    <h1>Még üres a kosarad!</h1>
    <p>Adj hozzá valamit a kínálatunkból!</p>
    <button class="btn btn-warning" routerLink="/products">Kínálatunk</button
    ><br />
  </div>
  <div class="row" *ngIf="cart.products.length > 0">
    <div class="col-xs-12 col-md-10 mb-2">
      <div class="card mb-3 blur" *ngFor="let product of cart.products; index as i">
        <div class="row g-0">
          <div class="col-md-6">
            <img
              src="data:image/png;base64, {{ product.image.data }}"
              class="img-fluid rounded-start"
              [alt]="product.name"
            />
          </div>
          <div class="col-md-6">
            <div class="card-body d-flex flex-column h-100">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">
                {{ product.description }}
              </p>
              <p class="card-text fw-medium">Termék ára</p>
              <p class="card-text text-body-secondary">{{ product.price }},-</p>
              <button class="btn btn-danger mt-auto" (click)="removeItem(i)">
                Eltávolítom a kosárból!
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-2 mb-2">
      <div class="card mb-3 blur">
        <h5 class="card-header mx-auto bg-transparent">Rendelés adatai</h5>
        <div class="card-body">
          <p class="card-title">Termékek ({{ cart.products.length }} db)</p>
          <p class="card-title">Összesen:</p>
          <p class="card-text">{{ totalPrice }},-</p>
        </div>
        <div class="card-footer mx-auto bg-transparent">
          <button class="btn btn-warning">Megrendelem!</button>
        </div>
      </div>
    </div>
  </div>
</div>
