<div class="mx-auto text-center">

  <input type="email" id="email" class="form-control m-1" placeholder="E-mail">
  <input type="password" id="password" class="form-control m-1" placeholder="Jelszó">
  <button class="btn btn-danger m-1" (click)="menu.BackToSomewhere()">Vissza</button>
  <button class="btn btn-primary m-1">Bejelentkezés</button>
  <div class="form-check text-start">
    <input class="form-check-input" type="checkbox" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
      Bejelentkezve szeretnék maradni!
    </label>
  </div>
</div>
