.modal-backdrop + .modal-backdrop {
    position: relative;
    z-index: 1040 !important;
  }


.modal {
    z-index: 8800 !important;
}

.modal-wrapper {
    position: relative;
    z-index: 9999;
  }