<div class="container-fluid g-0 h-100">
  <div class="row row-cols-2">
    <div class="col-2 bg-black bg-opacity-50">
      <app-logo class="logo position-fixed top-0 start-0"></app-logo>
      <app-navbar (openLoginModal)="openLoginModal()" (openRegisterModal)="openRegisterModal()" class="sidebar position-fixed top-50 start-0 translate-middle-y"></app-navbar>
      <app-register-modal *ngIf="registerModalOpen"></app-register-modal>
      <app-login-modal *ngIf="loginModalOpen"></app-login-modal>
    </div>
    <div class="col d-flex flex-column h-100 m-5">
      <div class="row top-0 end-0">
        <app-header class="col-10 header bg-black bg-opacity-50 position-fixed top-0 end-0"></app-header>
      </div>
      <div class="row flex-grow-1 position-relative" style="top: 6vh;">
        <app-content class="col-12 content position-absolute top-50 end-0 h-80"></app-content>
      </div>
      <div class="row align-items-end bottom-0 end-0">
        <app-footer class="col-10 footer bg-black bg-opacity-50 position-fixed bottom-0 end-0"></app-footer>
      </div>
    </div>
  </div>
</div>