.grid-container {
    display: grid;
    grid-template-rows: 6% 18% 71% 5%;
    grid-template-columns: 15% 85%;
    grid-template-areas: 
        'logo header'
        'logo content'
        'navbar content'
        'navbar footer'
    ;
    gap: 0;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

.logo {
    grid-area: logo;
    z-index: 1100;
}

.navbar {
    grid-area: navbar;
    z-index: 1000;
    width: 15vw;
}

.header {
    grid-area: header;
    z-index: 1000;
}

.content {
    grid-area: content;
    z-index: 900;
}

.footer {
    position: fixed;
    grid-area: footer;
    z-index: 1000;
    width: 85vw;
}

/* FLEXBOX */
/* .logo{
    z-index: 200;
}

.navbar{
    z-index: 200;
}

.header{
    z-index:200;
}

.content {
    z-index: 10;
}

.footer {
    z-index: 200;
} */


/* @media only screen and (min-device-width: 400px) {
    body {
        background-image: url('img_flowers.jpg');
    }
} */