<div class="logo-container">
    <img src="../../assets/eat_more_white.svg" id="restaurant-logo"/>
</div>
<div class="container">
    <div id="main-menu">
        <div class="li-main"><a routerLink="/about">Rólunk</a></div>
        <div class="li-main"><a routerLink="/food-menu">Étlap</a></div>
        <div class="li-main"><a routerLink="/drink-menu">Itallap</a></div>
        <div class="li-main"><a routerLink="/reservation">Foglalás</a></div>
        <div class="li-main"><a routerLink="/cart">Kosár</a></div>

    </div>
    <div id="profil-menu">
        <div class="li-profil"><a routerLink="/login">Belépés</a></div>
        <div class="li-profil"><a routerLink="/register">Regisztráció</a></div>
        <div class="li-profil"><a routerLink="/profile">Profil</a></div>
    </div>
</div>
<!-- <div>
    <nav>
        <ul id="main-menu">
            <li class="li-main"><a routerLink="/about">Rólunk</a></li>
            <li class="li-main"><a routerLink="/food-menu">Étlap</a></li>
            <li class="li-main"><a routerLink="/drink-menu">Itallap</a></li>
            <li class="li-main"><a routerLink="/reservation">Foglalás</a></li>
            <li class="li-main"><a routerLink="/cart">Kosár</a></li>
        </ul>
        <ul id="profil-menu">
            <li class="li-profil"><a routerLink="/login">Belépés</a></li>
            <li class="li-profil"><a routerLink="/register">Regisztráció</a></li>
            <li class="li-profil"><a routerLink="/profile">Profil</a></li>
        </ul>
    </nav>

</div> -->