#main-menu {
  list-style-type: none;
  width: 14vw;
  color: #343a40;
  /*font-size: calc(var(--min-font-size) + (var(--max-font-size) - var(--min-font-size)) * ((100vw - 320px) / (1920 - 320)));
  font-size: 2rem; */
  text-decoration: none;
}

.nav-item.li-main .nav-link.btn {
  font-size: calc(0.2rem + 0.7vw + 0.7vh);
}

.nav-item.li-profil .nav-link.btn {
  font-size: calc(0.2rem + 0.5vw + 0.5vh);
}
  
.li-main  {
  width: 12vw;
  height: 6vh;
  margin: 0.2vw 0vw;
  background-color: #d6a700;
  border-radius: 1vw;
  text-align: left;
  padding: 0px;
  align-items: left;
  cursor: pointer;
}

.li-main:hover {
  background-color: white;
  width: 13vw;
  transition: width 0.5s ease;
  /* box-shadow: 0px 20px 10px -20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(0px, -10px) scale(1.2);
          transform: translate(0px, -10px) scale(1.2); */
}

.li-main:active{
  background-color: peru;
  width: 12.5vw;
}

#profil-menu{
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 12vw;
}

.li-profil {
  font-size: calc(0.2rem + 0.5vw + 0.5vh);
  display: block;
  text-decoration: none;
  width: 11vw;
  height: 5vh;
  margin: 0.2vw;
  background-color: white;
  border-radius: 1vw;
  text-align: left !important;
  cursor: pointer;

}

.li-profil:hover {
  background-color: #d6a700;
  width: 12vw;
  transition: width 0.5s ease;
}
  
.li-profil:active{
  background-color: peru;
  width: 10.5vw;
}

.nav-link {
  color: #343a40;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

#item-count {
  font-size: calc(0.2rem + 0.6vw + 0.6vh);
  text-align: center;
  width: 3vh;
  height: 3vh;
  border-radius: 50%;
  position: relative;
}

.fas {
  color: #343a40;
}

/* .effect {
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  background-color: #d6a700;
  font-size: 18px;
  padding: 20px 0px;
  width: 150px;
  border-radius: 6px;
  overflow: hidden;
}

.effect.effect-5 {
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.effect.effect-5:before {
  content: "\f054";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0px;
  height: 100%;
  width: 30px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0 50% 50% 0;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.effect.effect-5:hover {
  text-indent: 30px;
}
.effect.effect-5:hover:before {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  text-indent: 0;
} */