<div class="container justify-content-center">
    <div class="row">
        <nav class="navbar navbar-expand-sm navbar-dark">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav flex-column" id="main-menu">
                    <li class="li-main nav-item"><a class="nav-link" routerLink="/about">Rólunk</a></li>
                    <li class="li-main nav-item"><a class="nav-link" routerLink="/food-menu">Étlap</a></li>
                    <li class="li-main nav-item"><a class="nav-link" routerLink="/drink-menu">Itallap</a></li>
                    <li class="li-main nav-item"><a class="nav-link" routerLink="/reservation">Foglalás</a></li>
                    <li class="li-main nav-item"><a class="nav-link" routerLink="/cart">Kosár</a></li>
                    <li class="li-profil nav-item" *ngIf="!authService.isLoggedIn"><a class="nav-link" (click)="onLoginClick()">Belépés</a></li>
                    <li class="li-profil nav-item" *ngIf="!authService.isLoggedIn"><a class="nav-link" (click)="onRegisterClick()">Regisztráció</a></li>
                    <li class="li-profil nav-item" *ngIf="authService.isLoggedIn"><a class="nav-link" routerLink="/profile">Profil</a></li>
                    <li class="li-profil nav-item" *ngIf="authService.isLoggedIn"><a class="nav-link" (click)="logout()">Kijelentkezés</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
