<div class="container">
    <div class="row mt-3">
        <nav class="navbar navbar-expand-sm navbar-dark">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav flex-column" id="main-menu">
                    <li class="li-main nav-item"><a class="nav-link" routerLink="/about">Rólunk<i class="fa-solid fa-hands ml-1"></i></a></li>
                    <li class="li-main nav-item"><a class="nav-link" routerLink="/food-menu">Étlap<i class="fa-solid fa-bowl-food ml-1"></i></a></li>
                    <li class="li-main nav-item"><a class="nav-link" routerLink="/drink-menu">Itallap<i class="fa-solid fa-mug-hot ml-1"></i></a></li>
                    <li class="li-main nav-item"><a class="nav-link" routerLink="/reservation">Foglalás<i class="fa-solid fa-square-pen ml-1"></i></a></li>
                    <li class="li-main nav-item">
                        <a class="nav-link" routerLink="/cart">
                             <span id="item-count" class="bg-light mr-1">{{ cartItemCount }}</span>
                             <span>Kosár<i class="fa fa-shopping-cart ml-1"></i></span>
                        </a>
                    </li>
                    <li class="li-profil nav-item" *ngIf="!authService.isLoggedIn"><a class="nav-link" (click)="onLoginClick()">Belépés<i class="fa-solid fa-right-to-bracket ml-1"></i></a></li>
                    <li class="li-profil nav-item" *ngIf="!authService.isLoggedIn"><a class="nav-link" (click)="onRegisterClick()">Regisztráció<i class="fa-solid fa-user-plus ml-1"></i></a></li>
                    <li class="li-profil nav-item" *ngIf="authService.isLoggedIn"><a class="nav-link" routerLink="/profile">Profil<i class="fa-solid fa-user ml-1"></i></a></li>
                    <li class="li-profil nav-item" *ngIf="authService.isLoggedIn"><a class="nav-link" (click)="logout()">Kijelentkezés<i class="fa-solid fa-right-from-bracket ml-1"></i></a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
