<div class="container mx-auto text-center mt-3" *ngIf="authService.user">
  <div class="row">
    <div class="col-12">
      <button class="btn btn-warning m-3" routerLink="favFood">
        Kedvenc ételek
      </button>
    </div>
    <div class="col-12">
      <button class="btn btn-warning m-3" routerLink="history">
        Foglalások
      </button>
    </div>
    <div class="col-12">
      <button class="btn btn-warning m-3" routerLink="settings">
        Beállítások
      </button>
    </div>
    <div class="col-12">
      <button class="btn btn-danger m-3" (click)="logout()">
        Kijelentkezés
      </button>
    </div>
  </div>
</div>
<div class="container mx-auto text-center mt-3" *ngIf="!authService.user">
  <h1>Nem vagy bejelentkezve!</h1>
  <p>Kérlek jelentkezz be, ha több funkciót szeretnél elérni!</p>
  <button class="btn btn-warning" routerLink="/">Bejelentkezés</button><br>
  <button class="btn btn-dark mt-2"  routerLink="/">Regisztráció</button>
</div>
