<div class="container mx-auto text-center mt-3">
  <div class="row">
    <div class="col-12">
      <button class="btn btn-warning m-3" routerLink="favFood">
        Kedvenc ételek
      </button>
    </div>
    <div class="col-12">
      <button class="btn btn-warning m-3"  routerLink="history">
        Előzmények
      </button>
    </div>
    <div class="col-12">
      <button class="btn btn-warning m-3" routerLink="settings">
        Beállítások
      </button>
    </div>
    <div class="col-12">
      <button class="btn btn-danger m-3">Kijelentkezés</button>
    </div>
  </div>
</div>
