<div class="container mx-auto text-center mt-3" *ngIf="authService.user">
  <div class="row">
    <h4 class="fw-light text-center">SAJÁT FUNKCIÓK</h4>
    <hr class="mx-auto w-75" />
    <div class="col-12">
      <button class="btn btn-warning m-3" routerLink="favFood" data-testid="open-favourite-foods-button">
        Kedvenc ételek
      </button>
    </div>
    <div class="col-12">
      <button class="btn btn-warning m-3" routerLink="history" data-testid="open-reservations-button">
        Foglalások
      </button>
    </div>
    <div class="col-12">
      <button class="btn btn-warning m-3" routerLink="settings" data-testid="open-settings-button">
        Beállítások
      </button>
    </div>    <div class="col-12">
      <button class="btn btn-warning m-3" routerLink="foods" data-testid="open-foods-button">
        Ételek
      </button>
    </div>
    <div class="col-12">
      <button class="btn btn-warning m-3" routerLink="drinks" data-testid="open-drinks-button">
        Italok
      </button>
    </div>
    <div class="col-12">
      <button class="btn btn-danger m-3" (click)="logout()" data-testid="logout-button">
        Kijelentkezés
      </button>
    </div>
  </div>
</div>
<div class="container mx-auto text-center mt-3" *ngIf="!authService.user">
  <h1>Nem vagy bejelentkezve!</h1>
  <p>Kérlek jelentkezz be, ha több funkciót szeretnél elérni!</p>
  <button class="btn btn-warning" routerLink="/">Bejelentkezés</button><br />
  <button class="btn btn-dark mt-2" routerLink="/">Regisztráció</button>
</div>
