<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connection" connectionString="Server=127.0.0.1;Database=menu_genius;Uid=root;Pwd=;"/>
	</connectionStrings>
	<!--<appSettings>
		<add key="DbServer" value="127.0.0.1" />
		<add key="DbName" value="menu_genius" />
		<add key="DbUser" value="root" />
		<add key="DbPassword" value="" />
		<add key="ImageFolderPath" value="e:\Projects\MenuGenius\_AdminGUI\Images\"/>
		<add key="ordered" value="megrendelve"/>
		<add key="cooked" value="elkészítve"/>
		<add key="served" value="felszolgálva"/>
	</appSettings>-->
</configuration>