#restaurant-logo {
  transition: transform 0.3s ease;
}

#restaurant-logo:hover {
  transform: scale(1.1);
}

/* @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  #restaurant-logo {
    animation: rotate 2s linear infinite;
  } */

  #restaurant-logo {
    transition: transform 2s ease;
  }
  
  #restaurant-logo:hover {
    transform: rotateY(360deg);
  }

/* @keyframes rotateY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

#restaurant-logo {
  animation: rotateY 2s linear infinite;
} */
