<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-3">
            <h2>Ital kínálatunk:</h2>
        </div>
        <div class="col-2 text-right align-self-center">
            Válassz kategóriát:
        </div>
        <div class="col-2 m-1">
            <select class="form-select" [(ngModel)]="category" aria-label="Default select example">
                <option [ngValue]="null">Összes</option>
                <option *ngFor="let category of categories" [ngValue]="category">{{ category.name }}</option>
            </select>
        </div>
        <div class="col-2 text-right align-self-center">
            Keresés:
        </div>
        <div class="col-2 m-1">
            <input 
            type="text" 
            class="form-control" 
            placeholder="Keresés" 
            [(ngModel)]="searchTerm" 
            (keyup)="search()"/>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="card rounded-3 col-6 col-md-4 col-lg-3 m-2 p-1" *ngFor="let product of filterCategory | filter : searchKey : 'name'">
            <img class="card-img-top" src="data:image/png;base64, {{ product.image.data }}" alt="{{product.name}}"/>
            <div class="card-header row m-0 p-0">
                <div class="col d-flex m-0 p-1 justify-content-around">
                    <button class="btn btn-outline-dark p-1 m-0" (click)="showDetails(product)">
                        Részletek
                    </button>
                    <button class="btn btn-warning p-1 m-0" (click)="addToCart(product)">
                        Kosárba
                    </button>
                </div>
            </div>
            <p class="card-text card-price text-center titillium-web-semibold pb-0">{{ product.price }},-Ft</p>
            <h5 class="card-footer text-center m-0 p-1 bg-warning">{{ product.name }}</h5>
            <p class="card-text p-2">{{ product.description }}</p>
        </div>
    </div>
