<div class="container pt-3">
  <div class="items-center row p-2">
    <div class="col-md-6 col-12 align-items-center d-flex">
      <h1>Kínálatunk</h1>
    </div>
    <div class="col-md-6 col-12 align-items-center d-flex">
      <select
        class="form-select me-2"
        [(ngModel)]="category_id"
        aria-label="Default select example"
      >
        <option [ngValue]="null">Összses</option>
        <option *ngFor="let category of categories" [ngValue]="category.id">
          {{ category.name }}
        </option>
      </select>
      <input
        type="email"
        class="form-control"
        placeholder="Keresés"
        [(ngModel)]="searchTerm"
        (keyup)="search()"
      />
    </div>
  </div>
  <hr />
  <div class="row px-4 position-relative d-flex justify-content-center">
    <app-product-card
      *ngFor="let product of filterCategory | filter : searchKey : 'name'"
      [product]="product"
    >
    </app-product-card>
  </div>
</div>
