<div class="row">
  <div class="col-4 d-flex justify-content-center align-items-center">
    <button class="btn btn-gray" type="button" *ngIf="!authService.isLoggedIn" data-testid="open-auth-dialog-button"
      routerLink="auth">
      <img src="/assets/login.svg" alt="profile" />
    </button>
    <a routerLink="profile" data-testid="open-profile-button">
      <img src="/assets/hamburger.svg" alt="profile" id="profile" *ngIf="authService.isLoggedIn" />
    </a>
  </div>
  <div class="col-4 d-flex justify-content-center align-items-center">
    <a routerLink="/">
      <img src="/assets/default-monochrome-white.svg" alt="logo" />
    </a>
  </div>
  <div class="col-4 d-flex justify-content-center align-items-center">
    <button class="btn btn-gray">
      <img src="/assets/cart.svg" alt="cart_shopping" routerLink="cart" />
    </button>
  </div>
</div>