<div class="container" *ngIf="authService.user">
  <div class="row mt-3">
    <h4 class="fw-light text-center">BEÁLLÍTÁSOK</h4>
    <hr class="mx-auto w-75" />
    <div class="col-xs-12 col-md-4 pb-2">
      <div class="card">
        <div class="card-body">
          <label for="emailCurrentSettings" class="fw-light"
            >Jelenlegi e-amail cím</label
          >
          <input
            type="email"
            id="emailCurrentSettings"
            class="form-control mb-1"
            disabled
            [(ngModel)]="authService.user.email"
            data-testid="current-email-input"
          />
          <label for="emailNewSettings" class="fw-light">Új e-mail</label>
          <input
            type="email"
            id="emailNewSettings"
            class="form-control mb-1"
            [(ngModel)]="email"
            data-testid="new-email-input"
          />
          <label for="emailAgainSettings" class="fw-light"
            >Új e-mail megerősítése</label
          >
          <input
            type="email"
            id="emailAgainSettings"
            class="form-control mb-1"
            [(ngModel)]="emailAgain"
            data-testid="new-email-again-input"
          />
          <div class="text-center mt-3">
            <button
              [disabled]="email !== emailAgain"
              class="btn btn-warning fs-5 fw-light"
              (click)="saveEmail()"
              data-testid="save-email-change-button"
            >
              Új e-mail cím mentése
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4 pb-2">
      <div class="card">
        <div class="card-body">
          <label for="phonenumberCurrentSettings" class="fw-light"
            >Jelenlegi telefonszám</label
          >
          <input
            type="email"
            id="phonenumberCurrentSettings"
            class="form-control mb-1"
            disabled
            [(ngModel)]="authService.user.phone"
            data-testid="current-phone-input"
          />
          <label for="phonenumberNewSettings" class="fw-light"
            >Új telefonszám</label
          >
          <input
            type="email"
            id="phonenumberNewSettings"
            class="form-control mb-1"
            [(ngModel)]="phone"
            data-testid="new-phone-input"
          />
          <label for="phonenumberAgainSettings" class="fw-light"
            >Új telefonszám megerősítése</label
          >
          <input
            type="email"
            id="phonenumberAgainSettings"
            class="form-control mb-1"
            [(ngModel)]="phoneAgain"
            data-testid="new-phone-again-input"
          />
          <div class="text-center mt-3">
            <button
            [disabled]="phone !== phoneAgain"
              class="btn btn-warning fs-5 fw-light"
              (click)="savePhone()"
              data-testid="save-phone-change-button"
            >
              Új telefonszám mentése
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4 pb-2">
      <div class="card">
        <div class="card-body">
          <label for="passwordCurrentSettings" class="fw-light"
            >Adja meg a jelenlegi jelszavát!</label
          >
          <input
            type="password"
            id="passwordCurrentSettings"
            class="form-control mb-1"
            [(ngModel)]="currentPassword"
            data-testid="current-password-input"
          />
          <label for="passwordNewSettings" class="fw-light">Új jelszó</label>
          <input
            type="password"
            id="passwordNewSettings"
            class="form-control mb-1"
            [(ngModel)]="password"
            data-testid="new-password-input"

          />
          <label for="passwordAgainSettings" class="fw-light"
            >Új jelszó megerősítése</label
          >
          <input
            type="password"
            id="passwordAgainSettings"
            class="form-control mb-1"
            [(ngModel)]="passwordAgain"
            data-testid="new-password-again-input"
          />
          <div class="text-center mt-3">
            <button
            [disabled]="password !== passwordAgain"
              class="btn btn-warning fs-5 fw-light"
              (click)="savePassword()"
              data-testid="save-password-change-button"
            >
              Új jelszó mentése
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4 pb-2 mx-auto">
      <div class="card">
        <div class="card-body">
          <label for="passwordCheck" class="fw-light"
            >Adja meg a jelszavát!</label
          >
          <input
            type="password"
            id="passwordCheck"
            class="form-control mb-1"
            [(ngModel)]="passwordCheck"
            data-testid="password-input"
          />
          <label for="passwordAgainCheck" class="fw-light"
            >Jelszó megerősítése</label
          >
          <input
            type="password"
            id="passwordAgainCheck"
            class="form-control mb-1"
            [(ngModel)]="passwordAgainCheck"
            data-testid="password-again-input"
          />
          <div class="text-center mt-3">
            <button
              class="btn btn-danger fs-5 fw-light"
              [disabled]="passwordCheck !== passwordAgainCheck"
              (click)="deleteUser(passwordCheck)"
              data-testid="delete-user-button"
            >
              Felhasználó törlése
            </button>
          </div>
        </div>
      </div>
    </div>
</div>
