<div class="container">
  <div class="row mt-3">
    <h4 class="fw-light text-center">BEÁLLÍTÁSOK</h4>
    <hr class="mx-auto w-75" />
    <div class="col-xs-12 col-md-4">
      <label for="email" class="fw-light">E-mail cím megváltozatása</label>
      <input type="email" id="email" class="form-control mb-1" />
      <label for="email" class="fw-light">E-mail újra</label>
      <input type="email" id="email" class="form-control mb-1" />
    </div>
    <div class="col-xs-12 col-md-4">
      <label for="password" class="fw-light">Jelszó megváltozatása</label>
      <input type="password" id="password" class="form-control mb-1" />
      <label for="password" class="fw-light">Jelszó újra</label>
      <input type="password" id="password" class="form-control mb-1" />
    </div>
    <div class="col-xs-12 col-md-4">
      <label for="text" class="fw-light">Telefonszám megváltozatása</label>
      <input type="text" id="text" class="form-control mb-1" />
      <label for="text" class="fw-light">Telefonszám újra</label>
      <input type="text" id="text" class="form-control mb-1" />
    </div>
    <div class="text-center mt-3">
      <button class="btn btn-warning fs-5 fw-light">Beállítások mentése</button>
    </div>
  </div>
</div>
