.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

.search-bar {
    display: flex;
    justify-content: center;
    padding: 2vh;
}

.category-label {
    margin: 0vw 1vw 0vw 2vw;
}

.search-label {
    margin: 0vw 1vw 0vw 2vw;
}

.food.carousel {
  display: flex;
}

.carousel {
  height: 50vh;
  width: 50vw;
}

.slick-slider {
  position: relative;
  width: 70vw;
}
.slick-slider .slick-slide {
  position: relative;
  transition: transform 0.3s ease;
}
.slick-slider .slick-slide.slick-center {
  transform: scale(1.2);
  z-index: 999;
  border-radius: 30px;
}
.slick-slider .slick-slide:not(.slick-center) {
  opacity: 70%;
  transform: scale(0.8);
}
.slick-list {
  height: 100%;
  width: 100%;
}
.slick-track {
  height: 100%;
}
.adimg {
  margin: 0 auto;
}
img {
  border-radius: 10px;
}

