<div class="container">
  <div class="search-bar">
      <div class="category-label">Válassz kategóriát:</div>
      <select
      class="form-select me-2"
      [(ngModel)]="category_id">
      <option [ngValue]="null">Összes</option>
      <option *ngFor="let category of categories" [ngValue]="category.id">
        {{ category.name }}
      </option>
      </select>
      <div class="search-label">Keresés:</div>
      <input
          type="text"
          class="form-control"
          placeholder="Keresés"
          [(ngModel)]="searchTerm"
          (keyup)="search()"
      />
  </div>
  <div class="food-carousel">
    <div>
      <ngx-slick-carousel class="carousel"
        #slickModal="slick-carousel" 
        [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
            <img src="{{ slide.img }}" alt="" width="160%" height="auto">
        </div>
      </ngx-slick-carousel>
    </div>
    <div class="food-carousel">
      <ngx-slick-carousel class="carousel-small"
        #slickModal="slick-carousel" 
        [config]="slideNavConfig">
        <div class="adimg" ngxSlickItem *ngFor="let slide of slides" class="slide-small">
            <img src="{{ slide.img }}" alt="" width="100%" height="auto">
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
</div>
    