 <div>
    <div class="items-center row p-2">
      <div class="col-md-6 col-12 align-items-center d-flex">
        Válassz kategóriát:
        <select
          class="form-select me-2"
          [(ngModel)]="category_id">
          <option [ngValue]="null">Összes</option>
          <option *ngFor="let category of categories" [ngValue]="category.id">
            {{ category.name }}
          </option>
        </select>
        Keresés:
        <input
          type="text"
          class="form-control"
          placeholder="Keresés"
          [(ngModel)]="searchTerm"
          (keyup)="search()"
        />
      </div>
    </div>
  </div>  
  <div class="slider">
    <div>
      <div (click)="goToPrevious()" class="leftArrow">❰</div>
      <div (click)="goToNext()" class="rightArrow">❱</div>
    </div>
    <div class="slide" [ngStyle]="{ 'background-image': getCurrentSlideUrl() }"></div>
    <!-- <div class="dotsContainer">
      <div
        *ngFor="let product of products; let slideIndex = index"
        class="dot"
        (click)="goToSlide(slideIndex)"
      >
        ●
      </div>
    </div> -->
  </div>
  <div class="product-list">
    <div class="product-item" *ngFor="let product of products" (click)="goToProductSlide(product)">
      <img src="data:image/png;base64, {{ product.image.data }}"/>
    </div>
  </div>
