<div class="grid-container">
  <div class="search-bar container">
    <div class="row align-items-center">
      <div class="col-3">
        <h3 class="m-0 p-0">Étel kínálatunk:</h3>
      </div>
      <div class="col">
        Kategóriák:
      </div>
      <div class="col">
        <select class="form-select" [(ngModel)]="category" aria-label="Default select example" >
          <option [ngValue]="null">Összes</option>
          <option *ngFor="let category of categories" [ngValue]="category">
            {{ category.name }}
          </option>
        </select>
      </div>
      <div class="col">
        Keresés:
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Keresés" [(ngModel)]="searchTerm" (keyup)="search()"/>
      </div>

    </div>
  </div>
  <div class="container product-pager">
    <div class="row">
      <mat-paginator class="bg-light m-1 bg-opacity-25 rounded-2"
      [length] = "this.filterCategory.length"
      [pageSize]="4"
      (page)="onPageChange($event)">
      </mat-paginator>
      <div class="card container col-3 page-item rounded-3 text-dark p-1" style="width: 30vw; height: 55vh;" *ngFor="let product of foodsSlice | filter : searchKey : 'name'">
        <img class="card-img-top rounded" src="data:image/png;base64, {{ product.image.data }}" alt="{{ product.name }}"/>
        <div class="card-header row m-0 p-0">
          <div class="col d-flex m-0 p-1 justify-content-around">
            <button class="btn btn-outline-dark p-1 m-0" (click)="showDetails(product)">
              Részletek
            </button>
            <button class="btn btn-warning p-1 m-0" (click)="addToCart(product)">
              Kosárba
            </button>
          </div>
        </div>
        <p class="card-text card-price text-center titillium-web-semibold pb-0 fs-2 m-0">
          {{ product.price }},-Ft
        </p>
        <h5 class="card-footer text-center m-0 p-1 bg-warning">
          {{ product.name }}
        </h5>
        <p class="card-text p-2">{{ product.description }}</p>
      </div>
    </div>
  <div class="allergen-filter container">
    <div class="row">

    </div>
  </div>
</div>

<!-- <div class="grid-container">
  <div class="search-bar container">
    <div class="row">
      <div class="col">
        <h3 class="m-0 p-0">Étel kínálatunk:</h3>
      </div>
      <div class="col">
        Kategóriák:
      </div>
      <div class="col">
        <select class="form-select" [(ngModel)]="category" aria-label="Default select example" >
          <option [ngValue]="null">Összes</option>
          <option *ngFor="let category of categories" [ngValue]="category">
            {{ category.name }}
          </option>
        </select>
      </div>
      <div class="col">
        Keresés:
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Keresés" [(ngModel)]="searchTerm" (keyup)="search()"/>
      </div>

    </div>
  </div>
  <div class="container product-pager">
    <div class="row">
      <div class="col-1 left-arrow align-self-center">
        <button class="btn btn-warning" (click)="prevPage()">
          <i class="fa-solid fa-circle-arrow-left"></i>
        </button>
      </div>
      <div class="col-10">
        <div class="row justify-content-around pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <div class="card container page-item rounded-3 col-6 col-md-4 col-lg-3 text-dark m-2 p-1" style="width: 30vw; height: 55vh;" *ngFor="let product of filterCategory | filter : searchKey : 'name'">
            <img class="card-img-top rounded" src="data:image/png;base64, {{ product.image.data }}" alt="{{ product.name }}"/>
            <div class="card-header row m-0 p-0">
              <div class="col d-flex m-0 p-1 justify-content-around">
                <button class="btn btn-outline-dark p-1 m-0" (click)="showDetails(product)">
                  Részletek
                </button>
                <button class="btn btn-warning p-1 m-0" (click)="addToCart(product)">
                  Kosárba
                </button>
              </div>
            </div>
            <p class="card-text card-price text-center titillium-web-semibold pb-0 fs-2 m-0">
              {{ product.price }},-Ft
            </p>
            <h5 class="card-footer text-center m-0 p-1 bg-warning">
              {{ product.name }}
            </h5>
            <p class="card-text p-2">{{ product.description }}</p>
          </div>

        </div>
        <div class="page-items col-12 text-center mt-3">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </div>
      </div>
      <div class="col-1 right-arrow align-self-center">
        <button class="btn btn-warning" (click)="nextPage()">
          <i class="fa-solid fa-circle-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="allergen-filter container">
    <div class="row">

    </div>
  </div>
</div> -->

<!-- <div class="container">
  <div
    class="row justify-content-evenly align-items-center bg-body rounded-2 bg-opacity-50 align-content-center p-2"
  >
    <div
      class="col-auto col-xxl-3 col-xl-3 col-lg-3 col-md-12 col-sm-12 col-xs-12"
    >
      <h3 class="m-0 p-0">Étel kínálatunk:</h3>
    </div>
    <div
      class="col-auto col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-6 col-xs-12"
    >
      Kategóriák:
    </div>
    <div
      class="col-auto col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-6 col-xs-12"
    >
      <select
        class="form-select"
        [(ngModel)]="category"
        aria-label="Default select example"
      >
        <option [ngValue]="null">Összes</option>
        <option *ngFor="let category of categories" [ngValue]="category">
          {{ category.name }}
        </option>
      </select>
    </div>
    <div
      class="col-auto col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-6 col-xs-12"
    >
      Keresés:
    </div>
    <div
      class="col-auto col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-6 col-xs-12"
    >
      <input
        type="text"
        class="form-control"
        placeholder="Keresés"
        [(ngModel)]="searchTerm"
        (keyup)="search()"
      />
    </div>
  </div>
  <div class="col p-3"></div>
  <div class="row justify-content-center align-items-center">
    <div class="col-1">
      <button class="btn btn-warning" (click)="prevPage()">
        <i class="fa-solid fa-circle-arrow-left"></i>
      </button>
    </div>
    <div
      class="card container rounded-3 col-6 col-md-4 col-lg-3 text-dark m-2 p-1" style="width: 30vw; height: 55vh;"
      *ngFor="let product of filterCategory | filter : searchKey : 'name'"
    >
      <img
        class="card-img-top rounded"
        src="data:image/png;base64, {{ product.image.data }}"
        alt="{{ product.name }}"
      />
      <div class="card-header row m-0 p-0">
        <div class="col d-flex m-0 p-1 justify-content-around">
          <button
            class="btn btn-outline-dark p-1 m-0"
            (click)="showDetails(product)"
          >
            Részletek
          </button>
          <button class="btn btn-warning p-1 m-0" (click)="addToCart(product)">
            Kosárba
          </button>
        </div>
      </div>
      <p class="card-text card-price text-center titillium-web-semibold pb-0 fs-2 m-0">
        {{ product.price }},-Ft
      </p>
      <h5 class="card-footer text-center m-0 p-1 bg-warning">
        {{ product.name }}
      </h5>
      <p class="card-text p-2">{{ product.description }}</p>
    </div>
    <div class="col-1 text-start">
      <button class="btn btn-warning" (click)="nextPage()">
        <i class="fa-solid fa-circle-arrow-right"></i>
      </button>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 text-center mt-3">
      <p>Oldal: {{ currentPage }} / {{ totalPages }}</p>
    </div>
  </div>
</div> -->