<input type="text" class="form-control mx-auto m-1" placeholder="Teljes név" [(ngModel)]="name">
<input type="email" class="form-control mx-auto m-1" placeholder="E-mail" [(ngModel)]="email">
<input type="password" class="form-control mx-auto m-1" placeholder="Jelszó" [(ngModel)]="password">
<input type="password" class="form-control mx-auto m-1" placeholder="Jelszó újra" [(ngModel)]="passwordAgain">
<button class="btn btn-danger m-1" (click)="menu.back()">Vissza</button>
<button class="btn btn-primary m-1" (click)="register()">Regisztráció</button>
