.container-fluid {
    padding: 1vw;
}

a {
    text-decoration: none;
    font-size: calc(00.1rem + 0.6vw + 0.6vh);
    margin-left: 0.7vw;
    margin-right: 1.5vw;
    color: white;
}

a:hover {
    font-size: calc(00.2rem + 0.6vw + 0.6vh);
}