<div class="container">
    <div class="header-container">
        <i class="fa-solid fa-location-dot"></i>
        <a href="https://maps.google.com/maps?q=Győr, Petőfi Sándor utca 18.">Győr, Petőfi Sándor utca 18.</a>
    </div>
    <div class="header-container">
        <i class="fa-solid fa-mobile-screen-button"></i>
        <a href="te:+36 00 012 4567">+36 00 123 4567</a>
    </div>
    <div class="header-container">
        <i class="fa-solid fa-square-envelope"></i>
        <a href="mailto:menugenius24@gmail.com">eatmore&#64;gmail.com</a>
    </div>
    <div class="header-container">
        <i class="fa-brands fa-facebook"></i>
        <a href="https://facebook.com/eatmore">fbEatMore</a>
    </div>
    <div class="header-container">
        <i class="fa-brands fa-twitter"></i>
        <a href="https://twitter.com/eatmore">twEatMore</a>
    </div>
</div>
