.container{
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin-top: 10px;
    background: rgba(0, 0, 0, 50%);
}
.header-container{
    display: flex;
    align-items: center;
    margin-left: 5px;
    padding: 10px;
}

a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}