<div class="modal-wrapper container mx-auto mt-3">
  <div ngClass="modal-body" *ngIf="product" class="row">
    <div class="row justify-content-end">
      <button
        type="col button"
        class="btn-close"
        aria-label="Close"
        (click)="closeModal()"
      ></button>
    </div>
    <hr class="mx-auto w-75" />
    <div class="col-xs-12 col-md-6 mx-auto text-center mb-2">
        <h3>{{ product.name }}</h3>
      <img
        src="data:image/png;base64, {{ product.image.data }}"
        class="rounded w-100"
        alt="{{ product.name }}"
      />
    </div>
    <div class="col-xs-12 col-md-6 mb-3">
      <div class="card p-3 blur">
        <p class="text-justify">
          {{ product.description || "Ehhez a termékhez nem tartozik leírás!" }}
        </p>

        <div *ngIf="product.ingredients.length > 0">
          <label for="description" class="fw-semibold">Összetevők</label>
          <p id="description">
            <span
              class="badge rounded-pill text-bg-dark me-1"
              *ngFor="let ingredient of product.ingredients"
              >{{ ingredient.name }}</span
            >
          </p>
        </div>
        <div *ngIf="allergens.length > 0">
          <label for="allergens" class="fw-semibold">Allergének</label>
          <p id="allergens">
            <span
              class="badge rounded-pill text-bg-warning me-1"
              *ngFor="let allergen of allergens"
              >{{ allergen }}</span
            >
          </p>
        </div>
        <div class="row position-relative">
          <div class="col-6">
            <label for="price" class="fw-semibold">Termék ára</label>
            <h5 id="price" class="fw-light">{{ product.price }},-</h5>
          </div>
          <!-- <div class="col-6 mx-auto text-end">
              <app-star-button [product]="product" *ngIf="authService.isLoggedIn" />
          </div> -->
        </div>
        <button class="btn btn-warning mb-2" (click)="addToCart()">
          Kosárba
        </button>
      </div>
    </div>
  </div>
</div>



<!-- <div class="modal" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Termék adatlap</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body row">
        <div class="col">
          <img src="data:image/png;base64, {{ product.image.data }}" class="rounded w-100" alt="{{ product.name }}"/>
        </div>
        <div class="col">
          <h3>{{ product.name }}</h3>
          <p class="text-justify">{{ product.description || "Ehhez a terémkhez nem tartozik leírás!" }}</p>
          <div *ngIf="product.ingredients.length > 0">
              <label class="fw-semibolt">Összetevők:</label>
              <p><span class="badge rounded-pill text-bg-dark me-1" *ngFor="let ingredient of product.ingredients">{{ ingredient.name }}</span></p>
          </div>
          <div *ngIf="allergens.length > 0">
            <label class="fw-semibolt">Allergének</label>
            <p><span class="badge rounded-pill text-bg-warning me-1" *ngFor="let allergen of allergens">{{ allergen }}</span></p>
          </div>
          <div class="row position-relative">
            <div class="col-6">
              <label class="fw-semibold">Termék ára</label>
              <h5 class="fw-light">{{ product.price }}</h5>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Kosárba</button>
        </div>
      </div>
    </div>
  </div>
</div> -->