<div class="container">
  <div class="row mt-3 mx-auto text-center">
    <h4 class="fw-light text-center">FOGLALÁSOK</h4>
    <hr class="mx-auto w-75" >
        <div class="card text-center m-2 blur" *ngFor="let reservation of userReservationHistory">
          <div class="card-body">
            <h5 class="card-title">{{reservation.name}} foglalása</h5>
            <p class="card-text">{{reservation.comment || "Nincs külön megjegyzés a foglaláshoz!"}}</p>
            <!-- TODO Amennyiben a foglalás már elmúlt, úgy majd a rendelt ételek lesznek láthatóak, ha belekattint a felh. -->
            <a routerLink="/products" class="btn btn-warning">Megnézem addig a kínálatot!</a>
          </div>
          <div class="card-footer text-body-secondary">
            {{daySince(reservation)}}
          </div>
        </div>
        <div *ngIf="userReservationHistory.length === 0">
          <h2>Sajnos még nincs foglalásod!</h2><br>
          <button class="btn btn-warning" routerLink="/tableReservation">Foglalok asztalt!</button>
        </div>
    </div>
</div>
