<div class="container mx-auto text-center">
  <div class="row mt-3">
    <div class="col-12">
      <h4 class="fw-light text-center">FOGLALÁSOK</h4>
      <hr class="mx-auto w-75" >
    </div>
    <div class="col-12">
      <div class="row g-2">

        <div class="col-12"
        *ngFor="let reservation of userReservationHistory">
              <div
              class="card text-center blur"
              [class.bg-danger-subtle]="isReservationOver(reservation)"
              [class.bg-warning-subtle]="isReservationToday(reservation)"
              [class.bg-success-subtle]="isReservationFuture(reservation)"
              >
                <div class="card-body">
                  <h4 class="card-title">{{reservation.name}} foglalása</h4>
                  <h5>{{reservation.number_of_guests}} főre</h5>
                  <p class="card-text">{{reservation.comment || "Nincs külön megjegyzés a foglaláshoz!"}}</p>
                  <a routerLink="/products" class="btn btn-warning" *ngIf="!isReservationOver(reservation)">Megnézem addig a kínálatot!</a>
                  <a class="btn btn-warning" *ngIf="isReservationOver(reservation)">Megnézem a rendeléseimet!</a>
                </div>
                <div class="card-footer bg-transparent text-body-secondary">
                  {{daySince(reservation)}}
                </div>
              </div>
          </div>
          <div *ngIf="userReservationHistory.length === 0">
            <h2>Sajnos még nincs foglalásod!</h2><br>
            <button class="btn btn-warning" routerLink="/tableReservation">Foglalok asztalt!</button>
          </div>
        </div>
      </div>
    </div>

</div>
