<div class="container">
  <div class="row mt-3">
    <h4 class="fw-light text-center">KEDVENC ÉTELEK ÉS ITALOK</h4>
    <hr class="mx-auto w-75" />
    <div class="container mx-auto text-center mt-3" *ngIf="favouriteProducts.length === 0">
      <h1>Még nincsenek kedvenc ételeid!</h1>
      <p>Adj hozzá kedvenc ételeket, ha szeretnéd hogy itt megjelenjenek!</p>
      <button class="btn btn-warning" routerLink="/products">Kínálatunk</button><br />
    </div>
    <div class="row px-4 position-relative d-flex justify-content-center" *ngIf="favouriteProducts.length > 0">
      <div
        class="card blur col-12 col-md-6 col-lg-3 m-2"
        *ngFor="let product of favouriteProducts"
      >
        <img
          class="card-img-top rounded mt-3"
          src="data:image/png;base64, {{ product.image.data }}"
          alt="Card image cap"
        />
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <div class="mt-auto">
            <h5 class="fw-light">{{ product.price }},-</h5>
            <div>
              <div class="row">
                <div class="col-9">
                  <button
                    [routerLink]="'/products/' + product.id"
                    class="btn btn-warning"
                  >
                    Részletek/rendelés
                  </button>
                </div>
                <div class="col-3">
                  <app-star-button [product]="product" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
