<h4 class="text-center">Elérhetőségek</h4>
<div class="row mb-3 fw-semibold">
  <div class="col-xs-12 col-md-6">
    <div class="row">
      <div class="col-12 text-center">
        Telefonszám
      </div>
      <div class="col-12 text-center">
        <a style="text-decoration: underline;">+36 30/342 3294</a>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="row">
      <div class="col-12 text-center">
        Email cím
      </div>
      <div class="col-12 text-center">
        <a style="text-decoration: underline;">menugenius&#64;gmail.com</a>
      </div>
    </div>
  </div>
</div>