<div class="container">
  <div class="row">
    <div class="col-lg-12 pt-4 pt-lg-0">
      <h1>Bemutatkozás</h1>
      <img
        src="../../assets/eat_more_outside.jpg"
        style="width: 50%"
        class="float-end imgshadow ml-4"
      />
      <p class="text-justify">
        Születtem Dolhán, egy kutyán, tizenkettőben, Gezarol után. Atyám
        paraszti sorban élt egy lobogós gatyán. Anyám egy cipész vérét
        kicsikarva, átment kisiparba. Kiskoromban elláttam már bolhai tisztemet,
        s a csípésem jelentősen viszketett. Lakókutyám egy kis pulipintyó, mint
        jó suba betakart, de többet akart ifjúi vágyam már tavaszra: átköltöztem
        hát egy tágasabb kuvaszra, mely nemsoká a plébános ebe lett. Szemem
        előtt tehát már a papi pálya lebegett. A lelkem felkészült, s a
        tornácon, hol este a lelkész ült, magam is reverendába bújtam.
      </p>
      <p>
        Ám az új tan s a jámborság nem kötött le sokáig. Meglátam másnap a
        szakácsnő bokáit, fogtam magam s kiugrottam. De csalódtam benne! Sós
        volt és lagymatag. Az örökös hagymaszag tönkretette a gyomrom, és olyan
        testes volt, hogy féltem, agyonnyom. Nem maradtam egy estét sem,
        megszöktem a sekrestyésben, aki velem a kocsmába tántorgott. Magához
        vett a kántor ott, s hogy lett tanyám egy tamár úr nadrágja? - Ez a kis
        út nagy dráma a kántorné életében. Én megértem. Így kerültem iskolába,
        amit néhány diákban tisztességgel kijártam. Tanulnom ugyan csak ritkán
        akaródzott, de mivel az osztály sűrűn vakarózott, szavamra, valamit
        mégiscsak szívhattam magamba! Érettségi vizsgánkon én átmentem.
      </p>
      <p>
        Az elnökre. Felnyögve kaparászott utánam, s bár az ízét utáltam, mégis,
        pályám érdekében addig benne éldegéltem, amíg a rég áhított fővárosba
        szállított. Az elnök egy kis színésznőt szeretett. Így kaptam szerepet
        az egyik színpadon. De nem szerepeltem soha a színlapon, mert atyám
        tanácsa mindig bennem marad: "Sohase engedd kinyomni magad!" Színésznőm
        illatos szoknyáján hintázva jártam szinházba. Az öltözőpad alatt én is
        mindig jól kicsíptem magamat.
      </p>
      <p>
        Ám az én művésznőm, felelőtlen fruska, ráerőszakolt egy színikritikusra.
        Azt hittem, vérembe megy most ész, értelem, de rágós volt, fanyar, avas
        és vértelen, ezért ugrottam át Önhöz néhány napra többi rajongómat
        inkább megváratva. Csináljunk most egyűtt egy jó csípős darabot...
      </p>
      <p>
        ...s ezzel a bolha jól belém harapott. Akkorát csaptam rá, hogy hasadt a
        paplan. Hogy ugrott el mégis? Megfoghatatlan! Veszítve karriert, nagy
        lakomát, riadtan menekült az ablakon át. Tovatünt egy kóbor eben
        kutyagolva, s lett, ami volt: kutyabolha.
      </p>
    </div>
    <div style="text-align: left" class="col-lg-5"></div>
  </div>
</div>
